$deep-blue: #455A64;
$r_deep-blue: 69;
$g_deep-blue: 90;
$b_deep-blue: 100;

$light-blue: #607D8B;
$r_light-blue: 96;
$g_light-blue: 125;
$b_light-blue: 139;

$alpha_cover: .6;

$black: #333333;
$grey: #EAEAEA;
$pure-white: #FFF;
$almost-white: #FAFAFA;

$cover_picture: "../assets/img/cover.jpg";

$light: 100;
$regular: 300;
$semi-bold: 400;
$bold: 700;
$ultra-bold: 900;
