/* line 1, ../sass/_base.scss */
body {
  font-family: 'Lato', sans-serif;
  color: #FFF;
  font-weight: 100;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 50px;
}

/* line 9, ../sass/_base.scss */
.noscroll {
  position: fixed;
  overflow-y: scroll;
}

/* line 3, ../sass/_landing.scss */
.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 9, ../sass/_landing.scss */
#section-1 {
  background: -webkit-linear-gradient(rgba(0, 22, 86, 0.6), rgba(25, 117, 255, 0.6)), url("../assets/img/cover-picture.png") no-repeat center center fixed;
  background: -moz-linear-gradient(rgba(0, 22, 86, 0.6), rgba(25, 117, 255, 0.6)), url("../assets/img/cover-picture.png") no-repeat center center fixed;
  background: -o-linear-gradient(rgba(0, 22, 86, 0.6), rgba(25, 117, 255, 0.6)), url("../assets/img/cover-picture.png") no-repeat center center fixed;
  background: linear-gradient(rgba(0, 22, 86, 0.6), rgba(25, 117, 255, 0.6)), url("../assets/img/cover-picture.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: #FFF;
}
/* line 14, ../sass/_landing.scss */
#section-1 h1 {
  font-weight: 100;
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 10px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 0;
}
/* line 20, ../sass/_landing.scss */
#section-1 img {
  height: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 25, ../sass/_landing.scss */
#section-1 .logo {
  font-size: 1.25em;
  width: 100%;
  text-align: center;
  color: #FFF;
}
/* line 31, ../sass/_landing.scss */
#section-1 .logo .bold {
  font-weight: 900;
}
/* line 35, ../sass/_landing.scss */
#section-1 .logo .thin {
  font-weight: 100;
}
/* line 40, ../sass/_landing.scss */
#section-1 p {
  margin-top: 20px;
  font-weight: 300;
  width: 60%;
  text-align: center;
  font-size: .5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
}

/* line 51, ../sass/_landing.scss */
#section-2 {
  height: 100vh;
  background-color: #FAFAFA;
  color: #4D94FF;
}
/* line 56, ../sass/_landing.scss */
#section-2 h1 {
  font-weight: 100;
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 10px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 300;
}
/* line 64, ../sass/_landing.scss */
#section-2 form .form-element {
  display: block;
}
/* line 66, ../sass/_landing.scss */
#section-2 form .form-element input[type=text] {
  border-style: none;
  background: none;
  outline: none;
  border-bottom: solid 2px #c7c7c7;
  font-size: 1.25em;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #4D94FF;
  transition: all 0.3s ease 0s;
  padding-bottom: 20px;
}
/* line 83, ../sass/_landing.scss */
#section-2 form .form-element input[type=text]:focus {
  border-bottom: solid 2px #4D94FF;
}
/* line 87, ../sass/_landing.scss */
#section-2 form .form-element button {
  font-size: 1.25em;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  background: #4D94FF;
  border: 1px solid #4D94FF;
  color: #FFF;
  width: 60%;
  outline: none;
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.3s ease 0s;
  padding: 20px 20px 20px 20px;
}
/* line 103, ../sass/_landing.scss */
#section-2 form .form-element button:hover {
  background: none;
  color: #4D94FF;
  border: 1px solid #4D94FF;
}
/* line 41, ../sass/_mixins.scss */
#section-2 ::-webkit-input-placeholder {
  color: #c7c7c7;
  font-weight: 100;
}
/* line 46, ../sass/_mixins.scss */
#section-2 :-moz-placeholder {
  /* Firefox 18- */
  color: #c7c7c7;
  font-weight: 100;
}
/* line 51, ../sass/_mixins.scss */
#section-2 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #c7c7c7;
  font-weight: 100;
}
/* line 56, ../sass/_mixins.scss */
#section-2 :-ms-input-placeholder {
  color: #c7c7c7;
  font-weight: 100;
}

/* line 116, ../sass/_landing.scss */
#section-3 {
  background-color: #4D94FF;
  height: 100vh;
}
/* line 120, ../sass/_landing.scss */
#section-3 h1 {
  font-weight: 100;
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 10px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  margin-top: 0;
}
/* line 126, ../sass/_landing.scss */
#section-3 .pricing-table {
  width: 100%;
}
/* line 128, ../sass/_landing.scss */
#section-3 .pricing-table .price {
  color: #FAFAFA;
  text-align: center;
  font-size: .75em;
  width: 30%;
  display: inline-block;
  padding: 20px 20px 20px 20px;
}
/* line 129, ../sass/_landing.scss */
#section-3 .pricing-table .price img {
  width: 15%;
}
/* line 132, ../sass/_landing.scss */
#section-3 .pricing-table .price h2 {
  font-weight: 300;
}
/* line 142, ../sass/_landing.scss */
#section-3 .pricing-table .price .description {
  font-size: .60em;
}
/* line 146, ../sass/_landing.scss */
#section-3 .pricing-table .price .money {
  font-weight: 700;
  font-size: 1.25em;
}
/* line 150, ../sass/_landing.scss */
#section-3 .pricing-table .price:first-child {
  border-right: solid 1px #FFF;
  margin-left: 18%;
}
